fastapi 
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-jose[cryptography]
email-validator
passlib[bcrypt]
bcrypt==3.2.2
